extends layout

block content
  h1 Twitter Wars
  p Let's fight
  ul
    li
      a(href="#", class='contestant', data-val='bieber') Bieber
    li
      a(href="#", class='contestant', data-val='trump') Trump
    li
      a(href="#", class='contestant', data-val='kim') Kim
    li
      a(href='#', class='contestant', data-val='obama') Obama
  br
  a(href='#',id='fight') Fight
  br
  a(href="#", id='socket-fight') Socket Fight
  br
  a(href="#", id='socket-stop-fight') Stop Fight
  br
  p Prediction
  br
  a(href='#', class='bet bet-one', data-val='contestantOne') Contestant One
  br
  a(href='#', class='bet bet-two', data-val='contestantTwo') Contestant Two
