extends layout

block content
  div(class='container-fixed')
    div(class='row')
      div(class='col-md-12 text-center')
        h1
          img(src='/images/logo.png', width='400')
    div(class='row')
      div(class='col-md-4')
      div(class='col-md-4')
        div(class='row')
          div(class="col-xs-6 col-md-6")
            a(href="#", class='thumbnail contestant', data-val='bieber')
              div(class='bieber')
          div(class="col-xs-6 col-md-6")
            a(href="#", class='thumbnail contestant', data-val='obama')
              div(class='obama')
          div(class="col-xs-6 col-md-6")
            a(href="#", class='thumbnail contestant', data-val='trump')
              div(class='trump')
          div(class="col-xs-6 col-md-6")
            a(href="#", class='thumbnail contestant', data-val='miley')
              div(class='miley')
      div(class='col-md-4')
    div(class='row')
      div(class='col-md-4')
      div(class='col-md-4 text-center')
        a(href='#', id='fight', class='btn btn-default btn-lg btn-block fight-btn') Fight
      div(class='col-md-4')
    


  span Step 1:
  a(href='#',id='fight') Confirm Selection
  br
  p Step 2: Place Your Bet
  a(href='#', class='bet bet-one', data-val='contestantOne') Contestant One&nbsp;
  span(id='scoreOne') 0
  br
  a(href='#', class='bet bet-two', data-val='contestantTwo') Contestant Two&nbsp;
  span(id="scoreTwo") 0
  br
  br
  span Step 3:
  a(href="#", id='socket-fight') Start Fight
  br
  br
  span Step 4:
  a(href="#", id='socket-stop-fight') Stop Fight
  
