extends layout

block content
  div(class='container-fixed')
    div(class='stepone')
      div(class='row')
        div(class='col-md-12 text-center')
          h1
            img(src='/images/logo.png', width='400')
          h3 Choose your Fighters
      div(class='row')
        div(class='col-md-4')
        div(class='col-md-4')
          div(class='row')
            div(class="col-xs-6 col-md-6")
              a(href="#", class='thumbnail contestant', data-val='clinton')
                div(class='celeb clinton')
            div(class="col-xs-6 col-md-6")
              a(href="#", class='thumbnail contestant', data-val='trump')
                div(class='celeb trump')
            div(class="col-xs-6 col-md-6")
              a(href="#", class='thumbnail contestant', data-val='kaine')
                div(class='celeb kaine')
            div(class="col-xs-6 col-md-6")
              a(href="#", class='thumbnail contestant', data-val='pence')
                div(class='celeb pence')
        div(class='col-md-4')
      div(class='row')
        div(class='col-md-4')
        div(class='col-md-4 text-center')
          a(href='#', id='fight', class='btn btn-default btn-lg btn-block fight-btn') Confirm
        div(class='col-md-4')
    div(class='steptwo')
      div(class='row')
        div(class='col-md-12 text-center')
          h1
            img(src='/images/logo.png', width='400')
          h3 Pick your Winner
        div(class='row')
          div(class='col-md-4')
          div(class='col-md-4')
            div(class='row')
              div(class='col-sm-6 col-md-6')
                a(href='#', class='thumbnail bet bet-one', data-val='contestantOne')
                  div
              div(class='col-sm-6 col-md-6')
                a(href='#', class='thumbnail bet bet-two', data-val='contestantTwo')
                  div
          div(class='col-md-4')
        div(class='row')
          div(class='col-md-4')
          div(class='col-md-4 text-center')
            a(href='#', id='socket-fight', class='btn btn-default btn-lg btn-block fight-btn') Fight
          div(class='col-md-4')
    div(class='stepthree')
      div(class='row')
        div(class='col-md-4')
        div(class='col-md-4')
          div(id='match-wrapper')
            img(src='/images/logo.png', width='400',class='center-block fight-logo')
            h4(id='scoreOne',class='contestantOneScore') 0
            h5(class='vs') vs
            h4(id='scoreTwo',class='contestantTwoScore') 0
            img(src='',class='match-img contestant-one-img')
            img(src='',class='match-img contestant-two-img')
        div(class='col-md-4')
      div(class='row')
        div(class='col-md-4')
        div(class='col-md-4')
          h3(class='countdown-timer text-center') 0
        div(class='col-md-4')
      div(class='row')
        div(class='col-md-4')
        div(class='col-md-4')
          a(href='#', id='rematch', class='btn btn-default btn-lg btn-block fight-btn') Pick another Fight
        div(class='col-md-4')
  
