extends layout

block content
  h1 Twitter Wars
  p Let's fight
  p Step 0: Select 2 contestants
  ul
    li
      a(href="#", class='contestant', data-val='bieber') Bieber
    li
      a(href="#", class='contestant', data-val='trump') Trump
    li
      a(href="#", class='contestant', data-val='kim') Kim
    li
      a(href='#', class='contestant', data-val='obama') Obama
  br
  span Step 1:
  a(href='#',id='fight') Confirm Selection
  br
  p Step 2: Place Your Bet
  a(href='#', class='bet bet-one', data-val='contestantOne') Contestant One&nbsp;
  span(id='scoreOne') 0
  br
  a(href='#', class='bet bet-two', data-val='contestantTwo') Contestant Two&nbsp;
  span(id="scoreTwo") 0
  br
  br
  span Step 3:
  a(href="#", id='socket-fight') Start Fight
  br
  br
  span Step 4:
  a(href="#", id='socket-stop-fight') Stop Fight
  
