extends layout

block content
  h1 Twitter Wars
  p Let's fight
  ul
    li
      a(href="#", class='contestant', data-val='bieber') Bieber
    li
      a(href="#", class='contestant', data-val='trump') Trump
    li
      a(href="#", class='contestant', data-val='kim kardashian') Kim
    li
      a(href='#', class='contestant', data-val='obama') Obama
  br
  a(href='#',id='fight') Fight

